
/* 公共样式 begin */

/* table begin */
.table_container {
    align-items: center;
    margin-top: 20px;
}
.table_scroller{
    width:702;
    height:906;
    margin-top: 20px;
}

.table {
    width: 990;
    border-style: solid;
    border-color: #333;
    border-width: 1px;
    overflow-x:scroll;
}

.table_tr {
    flex-direction: row;
}
.active{
    background-color: #ffb200;
}

.table_th {
    width: 110;
    height: 60;
    border-style: solid;
    border-color: #333;
    border-right-width: 1px;
    justify-content: center;
    align-items: center;
    background-color: #ccc;
}

.font_16{
    /*font-size: 16px;*/
}

.table_td {
    width: 110;
    height: 60;
    border-style: solid;
    border-color: #333;
    border-right-width: 1px;
    border-top-width: 1px;
    justify-content: center;
    align-items: center;
}
/* table end */

/* lise-cell样式 begin */

/* lise-cell样式 end */

/* 公共样式 end */